@import "../../scss/variables";

.header {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  margin: $margin;

  background: $roz;
  background-image: url(../../assets/images/bgHeader.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 6px rgba(175, 155, 137, 0.15);
  z-index: 100;

  transition: $transition;

  @media (min-width: $tablet-L) {
    display: block;
    padding: 15px 120px;
  }

  @media (min-width: $descktop-L) {
    padding: 15px 150px;
  }
}
.headerHidden {
  display: none;
  position: fixed;
  top: -96px;
  left: 0;
  width: 100%;
  height: 96px;
  margin: $margin;
  padding: 18px 185px;
  background: $roz;
  background-image: url(/assets/images/bgHeader.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 6px rgba(175, 155, 137, 0.15);
  z-index: 100;

  transition: $transition;
  @media (min-width: $tablet-L) {
    display: block;
  }

  @media (max-width: $descktop-XL) {
    top: -96px;
    height: 80px;
    padding: 15px 150px;
  }

  @media (max-width: $descktop-L) {
    padding: 15px 120px;
  }
}

.wrapper {
  // outline: $outline;
  max-width: $max-width;
  width: 100%;
  margin: $margin;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logoWrapper {
  position: relative;
  width: 50px;
  height: 50px;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 12px;

    background: url(../../assets/images/Vector-1.png) center no-repeat;
    background-size: contain;
  }

  .contur {
    width: 100%;
    height: 100%;
    animation: rotateLogo 10s linear infinite;
  }
  @keyframes rotateLogo {
    0% {
      transform: rotate(-360deg);
    }
  }
  .letter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 12px;
  }
}
.navBlock {
  display: flex;
  align-items: center;
}

.navLink {
  position: relative;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  color: #484848;
  padding: 10px 10px;
  margin: 0 30px 0 0;
  transition: $transition;

  &:hover {
    color: $black;
  }

  @media (max-width: 1730px) {
    margin-right: 45px;
  }
}

.activeLink {
  font-size: 18px;
  color: $black;
  transition: $transition;
}
.navArrov {
  margin-left: 10px;
  margin-top: -3px;
  transition: all 0.5s ease;
}

.select {
  position: relative;
  transition: all 0.5s ease;
  .span {
    position: absolute;
    top: 0;
    left: 0;
    height: 115px;
    opacity: 0;

    width: 65%;
    background: $roz;
    background-image: url(../../assets/images/bgHeader.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 20px 20px;
    transition: all 0.5s ease;

    a {
      padding-top: 5px;
      opacity: 0;
      transition: all 0.5s ease;
    }
  }

  &:hover {
    .span {
      top: 39px;
      opacity: 1;
      z-index: 101;
      box-shadow: 0px 4px 6px rgba(175, 155, 137, 0.15);

      a {
        opacity: 1;
      }
    }
    .navArrov {
      transition: all 0.5s ease;
      transform: rotate(180deg);
    }
  }
}

.cartLink {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 18px;
  color: $black;
  // img {
  //   margin-right: 10px;
  // }

  p,
  span {
    margin-left: 10px;
    margin-bottom: -5px;
  }
}
.cartLinkEmpty {
  cursor: default;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 28px;
  color: $dark-gray;
  p {
    margin-left: 10px;
    margin-bottom: -5px;
  }
}
