@import "../scss/variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: "vegawanty", system-ui, Tahoma, sans-serif;
  box-sizing: border-box;
}

body {
  background: $roz;
  margin-top: 60px;

  @media (min-width: $tablet-L) {
    margin-top: 80px;
  }
}

html,
body {
  max-width: 1920px;
  width: 100%;
  height: 100%;
  overflow-x: clip;
  scroll-behavior: smooth;
}

#__next {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  cursor: default;
}

li {
  list-style: none;
}

a,
button,
input {
  cursor: pointer;
}

button {
  border: none;
  background: transparent;
}

input:focus,
button:focus {
  outline: none;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text {
  font-family: "inter";
  font-size: 12px !important;
  line-height: 16px !important;
  color: #838383;

  @media (min-width: $mob-L) {
    font-size: 14px !important;
    line-height: 18px !important;
  }

  @media (min-width: $mob-XL) {
    font-size: 16px !important;
    line-height: 26px !important;
  }
}

.mobHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  padding: 0 15px;

  background: $roz;
  background-image: url(../assets/images/bgHeader.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 6px rgba(175, 155, 137, 0.15);

  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 102;
  transition: $transition;

  @media (min-width: $tablet-L) {
    display: none;
  }
}

.mobHeaderHidden {
  position: fixed;
  top: -60px;
  left: 0;
  width: 100vw;
  height: 60px;
  padding: 0 15px;

  background: $roz;
  background-image: url(../assets/images/bgHeader.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 6px rgba(175, 155, 137, 0.15);

  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 102;
  transition: $transition;

  @media (min-width: $tablet-L) {
    display: none;
  }
}

.mapContainer {
  width: 100%;
  height: 100%;
}

.cartWrapper {
  position: relative;
  // min-height: calc(100vh - 60px);
  height: 100%;
  width: 100%;
  padding: 20px;

  background: rgba(255, 255, 255, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-S) {
    padding: 30px 120px;
    justify-content: space-between;
  }

  @media (min-width: $tablet-L) {
    flex-direction: row;
    min-height: calc(100vh - 80px);
  }
}

.swiper-css-mode > .swiper-wrapper {
  overflow: hidden;
}
.swiperCollection.swiper-css-mode > .swiper-wrapper {
  overflow: hidden;
}

.swiper-wrapper {
  // height: 100% !important;
  .swiper-slide,
  .swiper-slide-active,
  .swiper-slide-next {
    height: 100% !important;
  }
}

.swiper-slide {
  display: flex;
  align-items: center !important;
  justify-content: center;

  height: 100% !important;
}

.swiperCollection {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 60px);
  height: 100%;

  @media (min-width: $tablet-L) {
    min-height: calc(100vh - 80px) !important;
  }

  .swiper-wrapper {
    min-height: calc(100vh - 60px) !important;
    height: 100% !important;

    @media (min-width: $tablet-L) {
      min-height: calc(100vh - 80px) !important;
    }

    .swiper-slide {
      min-height: calc(100vh - 60px) !important;
      height: 100% !important;

      @media (min-width: $tablet-L) {
        min-height: calc(100vh - 80px) !important;
      }
    }
  }
}

// .swiper-button-prev,
// .swiper-button-next {
//   color: $gold !important;
//   width: 10px;
//   height: 20px;
//   &::after {
//     width: 10px !important;
//     height: 20px !important;
//     font-size: 20px;
//   }
// }
// .swiper-button-prev {
//   left: 30px;
// }
// .swiper-button-next {
//   right: 30px;
// }
.iconSocial {
  transition: $transition;
  &:hover * {
    fill: $gold;
  }
}
