@import "../../scss/variables";

.wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 0 0 12px 0;
  border-bottom: 1px solid $dark-gray;
  margin-bottom: 20px;

  @media (min-width: 400px) {
    padding: 0 15px 12px 15px;
  }
  @media (min-width: $tablet-S) {
    padding: 0 20px 15px 20px;
  }
}
.block1 {
  display: flex;
  align-items: center;
}

.foto {
  width: 50px;
  height: 80px;
  margin-right: 15px;
  @media (min-width: $mob-XL) {
    width: 66px;
    height: 97px;
    margin-right: 25px;
  }
}

.name {
  text-transform: uppercase;
  color: $black;
  font-size: 18px;
  font-weight: 400;
  @media (min-width: $mob-XL) {
    font-size: 22px;
  }
}

.block2 {
  display: flex;
  align-items: center;
}
.count {
  margin-right: 12px;
}
.btnCount,
.number {
  font-size: 22px;
  line-height: 45px;
  padding: 0 12px;
}
.name {
  @media (max-width: 374px) {
    display: none;
  }
}
.closeAndPrice {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.price {
  font-size: 16px;
  color: $gold;
  font-weight: 400;
  @media (min-width: $mob-XL) {
    font-size: 22px;
  }
}
