@import "../../scss/variables";

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img {
  width: 227px;
  height: 330px;

  display: flex;
  align-items: center;
}
.text {
  text-transform: uppercase;
  font-size: 32px;
  color: $dark-gray;
  margin-bottom: 40px;
  margin-left: 15px;
}
@import "../../scss/variables";

.link {
  display: inline-block;
  padding: 10px 13px 6px 13px;
  border-radius: 20px;
  border: 1px solid #bb9c13;
  background: $gold;
  box-shadow: 0px 4px 9px rgba(133, 109, 5, 0.2);

  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.05em;

  margin-left: 15px;
  transition: $transition;

  &:hover {
    background: #bb7813;
    border: 1px solid #bb7813;
  }
  &:active {
    background: #8e5c11;
    border: 1px solid #8e5c11;
  }

  @media (min-width: $mob-XL) {
    padding: 12px 20px 8px 20px;
    margin-left: 20px;
  }
  @media (min-width: $descktop-S) {
    padding: 12px 54px 8px 54px;
    font-size: 22px;
  }
}

// .link {
//   padding: 15px 35px 11px 35px;
//   margin-left: 15px;
//   font-size: 22px;
//   letter-spacing: $letter-spacing;
//   color: #fff;
//   background-color: $gold;
//   box-shadow: 0px 4px 9px rgba(133, 109, 5, 0.2);
//   border-radius: 77.5px;
//   border: 1px solid $gold;
//   transition: $transition;

//   &:hover {
//     color: $gold;
//     background-color: #fff;
//   }
// }
