@import "../../../scss/variables";

.section {
  max-width: $max;
  width: 100%;
}
.container {
  position: relative;
  width: 100%;
  height: calc(100vh - 60px);

  padding: 60vh 15px 0 15px;
  margin-bottom: 347px;

  background: url(../../../assets/images/seduction/bg.jpg) no-repeat right;
  background-size: cover;

  @media (min-width: $mob-L) {
    margin-bottom: 403px;
  }

  @media (min-width: $mob-XL) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 405px;
    padding: 0 55px;
    margin-bottom: 0;
  }
  @media (min-width: $tablet-S) {
    height: 675px;
    padding: 0 60px;
  }
  @media (min-width: $tablet-L) {
    height: calc(100vh - 60px);

    flex-direction: column;
    justify-content: center;
  }
  @media (min-width: $descktop-S) {
    height: 720px;

    flex-direction: row;
  }
  @media (min-width: $descktop-L) {
    height: calc(100vh - 80px);
  }
  @media (min-width: $descktop-XL) {
    // height: 1117px;
  }
}
.title {
  text-transform: uppercase;
  text-align: center;

  font-size: 54px;
  font-weight: 400;
  color: #fff;

  @media (min-width: $mob-S) {
    font-size: 64px;
  }
  @media (min-width: $mob-XL) {
    font-size: 44px;
  }
  @media (min-width: $tablet-S) {
    font-size: 64px;
  }
  @media (min-width: $tablet-L) {
    font-size: 120px;
    margin-top: 130px;
  }
  @media (min-width: $descktop-S) {
    margin-top: 0;
  }
}

.butleWrapper {
  @media (max-width: calc($mob-XL - 1px)) {
    position: absolute;

    bottom: -347px;
    bottom: -403px;
    left: 50%;
    transform: translateX(-50%);
  }
  @media (max-width: calc($mob-L - 1px)) {
    bottom: -347px;
  }
  @media (min-width: $tablet-S) {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.butle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 215px;
  height: 317px;

  @media (min-width: $mob-L) {
    width: 253px;
    height: 372px;
  }
  @media (min-width: $mob-XL) {
    width: 176px;
    height: 261px;
  }
  @media (min-width: $tablet-S) {
    width: 235px;
    height: 348px;
  }
  @media (min-width: $tablet-L) {
    width: 312px;
    height: 462px;
  }
  @media (min-width: $descktop-S) {
    width: 281px;
    height: 416px;
  }
  @media (min-width: $descktop-L) {
    width: 332px;
    height: 492px;
    margin-left: -10%;
  }
  @media (min-width: $descktop-XL) {
    width: 398px;
    height: 589px;
    margin-left: -20%;
  }
}
// .butle * {
//   outline: $outline;
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   width: 100% !important;
//   height: 100% !important;
// }
