@import "../../../scss/variables";

.section {
  overflow: hidden;
  max-width: $max;
  width: 100%;
  margin: 0 auto;
}

.container {
  position: relative;

  width: 100%;
  min-height: calc(100vh - 50px);
  height: 100%;
  padding-top: 25px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .videoContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    video {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transition: all 1s ease;
      object-fit: cover;
      z-index: -2;

      &.videoHidden {
        visibility: hidden;
        opacity: 0;
        //display: none;
      }

      &.videoVisible {
        visibility: visible;
        opacity: 1;
        //display: block;
      }
    }
  }

  @media (min-width: $mob-XL) {
    flex-direction: row-reverse;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
  }
  @media (min-width: $tablet-S) {
    padding-left: 150px;
    padding-right: 150px;
  }
  @media (min-width: $tablet-L) {
    height: calc(100vh - 80px);
    padding-left: 120px;
    padding-right: 120px;
  }
  @media (min-width: $descktop-S) {
    padding-left: 190px;
    padding-right: 190px;
    justify-content: space-between;
  }
  @media (min-width: $descktop-L) {
    padding-left: 220px;
    padding-right: 220px;
    // justify-content: space-around;
  }
  @media (min-width: $descktop-XL) {
    justify-content: space-around;
  }
}

.imagesContainer {
  position: relative;
  width: 200px;
  height: 300px;

  @media (min-width: $mob-XL) {
    width: 177px;
    height: 261px;
  }
  @media (min-width: $tablet-L) {
    width: 317px;
    height: 470px;
  }
  @media (min-width: $descktop-XL) {
    width: 398px;
    height: 590px;
  }
}

#img {
  width: 100%;
  height: 100%;
  transition: all 0.8s linear;
}

.hidden {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: scale(0.3) translate(-150%, -150%);
  opacity: 0;
}

.active {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  width: 200px;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: $mob-XL) {
    width: 177px;
    height: 261px;
  }
  @media (min-width: $tablet-L) {
    width: 317px;
    height: 470px;
  }
  @media (min-width: $descktop-XL) {
    width: 398px;
    height: 590px;
  }
}

// nameProduct
.brandName {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  font-size: 60px;
  color: $gold;

  &::before {
    content: "SOUL OF MINE";
    position: absolute;
    top: -2px;
    left: -2px;
    font-size: 60px;
    font-weight: 400;
    -webkit-text-stroke: 1px $gold;
    color: transparent;
  }

  @media (min-width: $mob-XL) {
    display: none;
  }
}

.brandNameDesk {
  display: none;

  text-transform: uppercase;
  text-align: left;
  font-size: 60px;
  color: $gold;

  flex-direction: column;

  @media (min-width: $tablet-S) {
    font-size: 64px;
  }
  @media (min-width: $tablet-L) {
    font-size: 120px;
  }

  .soul {
    position: relative;

    &::before {
      content: "SOUL";
      position: absolute;
      top: -2px;
      left: -2px;
      font-size: 60px;
      font-weight: 400;
      -webkit-text-stroke: 1px $gold;
      color: transparent;

      @media (min-width: $tablet-S) {
        font-size: 64px;
      }
      @media (min-width: $tablet-L) {
        font-size: 120px;
      }
    }
  }

  .ofMine {
    position: relative;

    &::before {
      content: "OF MINE";
      position: absolute;
      top: -2px;
      left: -2px;
      font-size: 60px;
      font-weight: 400;
      -webkit-text-stroke: 1px $gold;
      color: transparent;

      @media (min-width: $tablet-S) {
        font-size: 64px;
      }
      @media (min-width: $tablet-L) {
        font-size: 120px;
      }
    }
  }

  @media (min-width: $mob-XL) {
    display: flex;
  }
}

// imgContainer
.imgContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navPoints {
  // outline: $outline;
  position: relative;
  z-index: 2;
  width: 150px;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: $descktop-S) {
    margin-top: 20px;
  }
}

.point,
.pointActive {
  width: 10px;
  height: 10px;
  margin: 5px;

  border: 1px solid $gold;
  border-radius: 50%;

  @media (min-width: $tablet-S) {
    width: 13px;
    height: 13px;
  }
}

.pointActive {
  width: 18px;
  height: 18px;
  background: linear-gradient(78.06deg, #e6ba40 5.04%, #f9de93 28.84%, #e6ba40 55.79%, #f0d17a 78.25%, #e6ba40 91.27%);
  box-shadow: 0px 1px 4px rgba(142, 127, 59, 0.4);
}

.prevBtn,
.nextBtn {
  // outline: $outline;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.prevBtn {
  left: 0;
  transform: rotate(180deg) translateY(50%);
}

.nextBtn {
  right: 0;
  top: 55%;
}

.iconWrapper img {
  width: 13px !important;
  height: 20px !important;
}

// infocontainer
.textWrapper {
  position: relative;
  z-index: 2;
  @media (min-width: $mob-XL) {
    width: 300px;
  }
  @media (min-width: $tablet-L) {
    width: 400px;
  }
  @media (min-width: $descktop-S) {
    width: 500px;
  }
}

.nameWrapper {
  // outline: $outline;
  position: relative;
  height: 30px;
  margin-top: 20px;

  display: flex;
  align-items: center;

  @media (min-width: $tablet-L) {
    height: 64px;
  }

  p {
    position: absolute;
    opacity: 0;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);

    text-transform: uppercase;
    font-size: 30px;
    color: $gold;

    transition: all 0.8s;
    @media (min-width: $mob-XL) {
      left: 0;
      transform: translateX(0);
    }
    @media (min-width: $tablet-L) {
      font-size: 64px;
    }
  }
}

.activeName {
  top: 0 !important;
  opacity: 1 !important;
}

.descrWrapper {
  // outline: $outline;
  position: relative;
  margin-top: 15px;
  @media (min-width: $mob-XL) {
    margin-top: 20px;
  }

  .hiddenSpan h5 {
    opacity: 0;
    font-family: "inter";
    font-size: 12px;
    line-height: 16px;
    width: 70%;
    margin: 15px auto 20px auto;

    @media (min-width: $mob-XL) {
      text-align: left;
      font-size: 14px;
      line-height: 22px;
      margin: 20px 0 40px 0;
    }
    @media (min-width: $tablet-L) {
      font-size: 18px;
      line-height: 28px;
    }
  }

  p {
    // position: absolute;
    // top: 0;
    // left: 0;
    text-align: center;
    font-family: "inter";
    font-size: 12px;
    line-height: 16px;
    color: $gray;

    width: 70%;
    margin: 0 auto 20px auto;
    transition: all 0.8s;
    @media (min-width: $mob-XL) {
      text-align: left;
      font-size: 14px;
      line-height: 22px;
      margin: 0 0 40px 0;
    }
    @media (min-width: $tablet-L) {
      font-size: 18px;
      line-height: 28px;
    }
  }

  .activeTextWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    transition: all 0.8s;
  }

  .hiddenTextWrapper {
    opacity: 0;
    position: absolute;
    // top: 20px;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.8s;
  }
}

.linkWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    margin-left: 0;
  }

  @media (min-width: $mob-XL) {
    justify-content: start;
  }
}
