@import "../../../scss/variables";

.section {
  position: relative;
  max-width: $max;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  margin-top: 120px;

  @media (min-width: $tablet-S) {
    padding: 0 50px;
  }
  @media (min-width: $tablet-L) {
    padding: 0;
  }
  @media (min-width: $descktop-S) {
    padding: 0 100px;
  }
  @media (min-width: $descktop-L) {
    padding: 0 170px;
    margin-top: 150px;
  }
  @media (min-width: $descktop-XL) {
    padding: 0 320px;
  }
  @media (min-width: $max) {
    padding: 0 420px;
  }
}
.notes {
  height: 65px;
  width: 320px;
  position: absolute;
  top: -70px;
  right: 20px;

  -webkit-text-stroke: 1px rgba(165, 46, 8, 0.4);
  color: transparent;
  font-size: 64px;

  @media (min-width: $mob-XL) {
    right: 50px;
  }
  @media (min-width: $tablet-S) {
    right: 20%;
  }
  @media (min-width: $tablet-L) {
    font-size: 130px;
    top: -110px;
    right: 55%;
  }
  @media (min-width: $descktop-S) {
    right: 45%;
    top: -70px;
  }

  .motionNotes {
    position: absolute;

    font-family: "Advent Pro";
  }
}

.container {
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  @media (min-width: $tablet-S) {
    overflow: visible;
  }
}

.fotoLeftWrapper {
  position: relative;
  width: 252px;
  height: 392px;

  margin-left: -140px;
  @media (min-width: $mob-L) {
    margin-left: -80px;
  }
  @media (min-width: $tablet-S) {
    margin-left: 0;
    border-radius: 20px;
  }
  @media (min-width: $tablet-L) {
    border-radius: 0;
    margin-left: -50px;

    width: 318px;
    height: 492px;
  }
  @media (min-width: $descktop-S) {
    margin-left: 0;
    border-radius: 20px;
  }
}
.motionFotoLeftWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}
.fotoLeft {
  opacity: 0;
  transition: all 0.8s;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;

  span {
    width: 100% !important;
    height: 100% !important;
  }
  img {
    object-fit: cover;
  }
}
.fotoLeftVisible {
  opacity: 1 !important;
  transition: all 0.8s;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;

  span {
    width: 100% !important;
    height: 100% !important;
  }
  img {
    object-fit: cover;
  }
}
.foto2 {
  position: absolute;
  top: 5%;
  right: -150px;
  width: 180px;
  height: 130px;
  @media (min-width: $mob-L) {
    right: -120px;
  }
  @media (min-width: $tablet-S) {
    right: 0;
  }
  @media (min-width: $tablet-L) {
    right: -20px;

    width: 296px;
    height: 209px;
  }
  @media (min-width: $descktop-S) {
    right: 0;
  }
}
.list {
  border-top: 1px solid $gray;
  width: 100%;
  @media (min-width: $tablet-S) {
    width: calc(100% - 252px);
  }
}
.listItem {
  position: relative;
  padding: 20px;
  width: 100%;
  height: 105px;
  border-bottom: 1px solid $gray;
  @media (min-width: $mob-L) {
    padding-left: 10px;
  }
  @media (min-width: $tablet-S) {
    padding-right: 200px;
  }
  @media (min-width: $descktop-S) {
    padding-right: 250px;
  }

  * {
    transition: all 0.8s;
  }
  &:hover * {
    opacity: 1;
  }
}
.title {
  text-transform: uppercase;
  font-size: 30px;
  color: $gold;
  letter-spacing: $letter-spacing;
  @media (min-width: $mob-XL) {
    text-align: center;
  }
  @media (min-width: $tablet-L) {
    font-size: 40px;
  }
}
.descr {
  opacity: 0;
  font-family: "inter";
  font-size: 14px;
  line-height: 18px;
  color: $dark-gray;
  margin-top: 5px;
  @media (min-width: $mob-L) {
    padding-right: 40px;
  }
  @media (min-width: $mob-XL) {
    text-align: center;
  }
  @media (min-width: $tablet-S) {
    padding-right: 0;
  }
  @media (min-width: $tablet-L) {
    font-size: 16px;
  }
}

.fotoRight {
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -150px;
  width: 180px;
  height: 130px;
  border-radius: 15px;
  overflow: hidden;
  @media (min-width: $mob-L) {
    right: -120px;
  }
  @media (min-width: $tablet-S) {
    right: 0;
  }
  @media (min-width: $tablet-L) {
    right: -20px;

    width: 296px;
    height: 209px;
  }
  @media (min-width: $descktop-S) {
    right: 0;
  }

  span {
    width: 100% !important;
    height: 100% !important;

    img {
      object-fit: cover;
    }
  }
}
