@import "../../scss/variables";

.nextBtn {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 50%;
  transform: translateY(-60%);

  width: 25px;
  height: 25px;
}
.prevBtn {
  position: absolute;
  cursor: pointer;
  left: 10px;
  top: 50%;
  transform: translateY(-30%) rotate(180deg);

  width: 25px;
  height: 25px;
}
.icon {
  width: 7px;
  height: 15px;
}
