@import "../../../scss/variables";

.section {
  // outline: $outline-section;
  max-width: $max;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 90px;

  @media (min-width: $mob-XL) {
    padding-top: 20px;
  }
  @media (min-width: $tablet-S) {
    padding-top: 80px;
  }
  @media (min-width: $tablet-L) {
    padding-top: 100px;
  }
  @media (min-width: $descktop-S) {
    padding-top: 60px;
  }
  @media (min-width: $descktop-L) {
    padding-top: 80px;
  }
}
.container {
  // outline: $outline;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 0 45px 0 115px;

  @media (min-width: $mob-L) {
    padding: 0 20px;
  }
  @media (min-width: $tablet-S) {
    padding: 0 0 0 40%;
  }
  @media (min-width: $tablet-L) {
    padding: 0 0 0 25%;
  }
  @media (min-width: $descktop-S) {
    padding: 0;
  }
  @media (min-width: $descktop-L) {
    padding-top: 55px;
  }

  p {
    // outline: $outline;
    min-height: 216px;

    @media (min-width: $mob-L) {
      padding-left: 40%;
    }
    @media (min-width: $tablet-S) {
      padding: 0;
      width: 80%;
    }
    @media (min-width: $tablet-L) {
      min-height: 350px;
      width: 55%;
      padding-left: 15px;
      padding-right: 20px;
    }
    @media (min-width: 1214px) {
      display: flex;
      align-items: center;
      min-height: 450px;
    }
    @media (min-width: $descktop-S) {
      margin: 0 auto;
      padding: 0 15% 0 15px;
      width: 50%;
    }
    @media (min-width: $descktop-L) {
      min-height: 300px;
      transform: translateX(-35%);

      align-items: flexstart;
    }
    @media (min-width: $descktop-L) {
      width: 40%;
      // padding-left: 10%;
      // padding-right: 10%;
    }
  }
}
.title {
  position: relative;
  text-transform: uppercase;
  color: $gold;
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: $letter-spacing;

  margin-bottom: 55px;
  margin-right: -40px;
  z-index: 2;
  @media (min-width: $mob-S) {
    font-size: 30px;
    line-height: 35px;
  }
  @media (min-width: $mob-L) {
    padding-left: 15%;
    margin-bottom: 100px;
    margin-right: 0;
  }
  @media (min-width: $mob-XL) {
    font-size: 44px;
    line-height: 57px;

    margin-bottom: 10px;
    margin-top: 80px;
  }
  @media (min-width: $tablet-S) {
    padding: 0 15% 0 0;
    margin-top: 0;
    margin-left: -15%;
  }
  @media (min-width: $tablet-L) {
    font-size: 64px;
    line-height: 80px;
    padding-right: 20%;
    margin-left: -5%;
    margin-bottom: 60px;
  }
  @media (min-width: $descktop-S) {
    margin: 0 auto;
    padding: 0;
    width: 50%;
  }
  @media (min-width: $descktop-L) {
    transform: translateX(5%);
    margin-bottom: 190px;
  }
  @media (min-width: $descktop-XL) {
    width: 40%;
  }
}

.f1 {
  position: absolute;
  top: 60px;
  left: -120px;

  width: 213px;
  height: 317px;
  object-fit: cover;
  @media (min-width: $mob-L) {
    width: 288px;
    height: 317px;

    top: 80px;
    left: -140px;
  }
  @media (min-width: $mob-XL) {
    width: 260px;
    height: 434px;

    top: 60px;
    left: -100px;
  }
  @media (min-width: $tablet-S) {
    width: 290px;
    height: 434px;
    left: 0;
    top: 100px;
  }
  @media (min-width: $tablet-L) {
    width: 485px;
    height: 534px;

    left: -240px;
    top: 140px;
  }
  @media (min-width: $descktop-S) {
    left: -165px;
  }
  @media (min-width: $descktop-L) {
    top: 0px;
    left: 0;
  }
  @media (min-width: $descktop-XL) {
    left: 10%;
  }
}
.f2 {
  width: calc(100% + 160px);
  margin-left: -115px;
  margin-top: 20px;
  object-fit: cover;
  @media (min-width: $mob-S) {
    margin-top: 0;
  }

  @media (min-width: $mob-L) {
    display: block;
    width: 372px;
    width: 100%;
    height: 336px;
    margin: 0;

    border-radius: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $mob-XL) {
    margin-top: 40px;
  }
  @media (min-width: $tablet-S) {
    width: 95%;
    height: 284px;
    margin-right: 0;
  }
  @media (min-width: $tablet-L) {
    position: absolute;
    width: 458px;
    height: 413px;

    top: 250px;
    right: -150px;
  }
  @media (min-width: $descktop-L) {
    width: 566px;
    height: 511px;
    right: 5%;
    top: 280px;
  }
}
.roze {
  position: absolute;
  top: 140px;
  right: -30px;
  width: 110px;
  height: 80px;

  @media (min-width: $mob-L) {
    width: 160px;
    height: 120px;

    top: 110px;
  }
  @media (min-width: $mob-XL) {
    top: 0;
  }
  @media (min-width: $tablet-S) {
    top: 100px;
  }
  @media (min-width: $descktop-S) {
    width: 180px;
    height: 170px;
    right: 0;
    top: 60px;
  }
  @media (min-width: $descktop-L) {
    right: 5%;
  }
}
