@import "../../scss/variables";

.logoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 125px;
  height: 102px;
}

.logo {
  position: relative;
  width: 85px;
  height: 85px;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 17px;
    height: 20px;

    background: url(../../assets/images/Vector-1.png) center no-repeat;
    background-size: contain;
  }
}

.contur {
  width: 85px;
  height: 85px;
  animation: rotateLogo 10s linear infinite;
}
@keyframes rotateLogo {
  0% {
    transform: rotate(-360deg);
  }
}

.textWrapper {
  margin-top: 2px;
  span {
    margin: 0 2px;
  }
}
.letterSVG {
  width: 9px;
  height: 12px;
}
.letterSVGi {
  width: 5px;
  height: 12px;
}
