@import "../../scss/variables";

// .section {
//   position: relative;
//   max-width: $max;
//   width: 100%;
//   min-height: calc(100vh - 50px);
//   height: 100%;

//   padding-top: 20px;
//   margin-bottom: 50px;

//   @media (min-width: $tablet-S) {
//     padding-top: 120px;
//   }
// }

.nextBtn {
  width: 30px;
  height: 30px;
  z-index: 100;

  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.prevBtn {
  width: 30px;
  height: 30px;
  z-index: 100;

  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(180deg);
}
.icon {
  height: 20px;
  width: 12px;
}
